<div class="new-post-title">
  <h1>Edit Post</h1>
</div>

<div class="new-post-container">
  <%= form_with model: @post, local: true do |form| %>
    <div class="new-post-body">
      <%= form.textarea :body, :rows => "10", :cols => "50" %>
      <br>

      <%= form.submit "Post" %>
      <% end %>

      <%= link_to "Cancel", root_path %>
    </div>
</div>
