<h1>Posts</h1>

<%= link_to "New Post", new_post_path %>

<div class="post-container">
  <% if @posts.length > 0 %>
    <div class="post">
    <%= render @posts %>
    </div>
  <% else %>
    <div class="post">
    <p>Aint shit here boss</p>
    </div>
  <% end %>
</div>

