/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */


.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
  vertical-align: middle;
}

.posts-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.post {
  background-color: white;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.post-body {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  white-space: normal;
}

.user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  text-align: center;
  background-color: white;
  padding: 15px;
  margin-botton: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.username {
  font-weight: bold;
}

.follow-button button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

